{% extends 'story/layouts/main.html' %}

{% block content %}

    <div class="container mb-5">
        <div class="row">

            <form method="post" class="my-form">

                {% csrf_token %}
                <div class="card shadow mt-3">
                    <h2>Register</h2>
                    <div class="card-body">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </div>
                </div>



            </form>

        </div>

    </div>
{% endblock %}
