<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Shopping Cart</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <script>
                    data = getCartItems()
                </script>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{ cartItems }}" alt="Product Image" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <h4 class="card-title">{{ data}}</h4>
                                <p class="card-text">Price: $10</p>
                                <p class="card-text">Quantity: 2</p>
                            </div>
                            <div class="col-sm-3 text-right">
                                <button class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3">
                    <h4>Subtotal: $35</h4>
                    <h4>Shipping: $5</h4>
                    <h2>Total: $40</h2>
                    <a href="#" class="btn btn-primary mr-2">Continue Shopping</a>
                    <a href="#" class="btn btn-success">Checkout</a>
                </div>
                <ul id="cart-items"></ul>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>