<div class="footer bg-dark-green text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>We're committed to providing you with the best selection of high-quality bicycles and cycling accessories.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>Address:  вулиця Соломії Крушельницької, 3/2, Львів, Львівська область, 79000</li>
          <li>Phone: +380965879486</li>
          <li>Email: pedal_power@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://twitter.com/home?lang=ru">Twitter</a></li>
          <li><a href="https://www.instagram.com">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2023 PedalPower. All rights reserved.</p>
  </div>
</div>
