{% for product in products %}
    <div class="product-item  col-md-3 mb-4">
        <a class="d-flex flex-column" href=" {% url 'product view' product.category.slug product.pk %} ">
            <div class="card">
                <div class="card-body  text-center">
                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="product_item_image">
                    <h3 class="card-title mt-3 mb-2 ">{{ product.name }}</h3>
                    <div class="card-text">
                        <span class="original-price">${{ product.original_price }}</span>
                        <span class="selling-price fs-5">${{ product.selling_price }}</span>
                        <div class="star-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <a href="{% url 'add to cart' product.pk %}" class="btn btn-primary add_to_cart">Add to cart</a>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
