body {
    background-color: #ecfdea;
}

a {
    text-decoration: none !important;
}

h1 {
    color: rgb(9, 106, 46);
    margin-bottom: 20px;
}


/*-------------------NAVBAR START----------------------*/
.navbar {
    background-color: rgb(80 160 96);
    padding: 10px;

    font-size: 140%;

}

.logo-image {
    width: 90px;
    height: auto;
}

.navbar a.nav-link {
    color: white;
    font-weight: normal;
}

.navbar a.nav-link.active {
    font-weight: bold;
    color: rgb(9, 106, 46);
}

.navbar a.nav-link:hover {
    transform: scale(1.1);
    color: rgb(9, 106, 46);
}


.my-form {
    width: 50%;
    margin: 0 auto;
}

.navbar-brand p {
    font-family: 'Faster One', cursive;
    font-size: 45px;
    margin: 0;
    color: rgb(9, 106, 46);
    line-height: 0.75em;
}

#pedal {
    color: rgb(9, 106, 46);
}

#power {
    color: white;
}

.user_btn {
    color: white;
}

.user_btn:hover {
    color: rgb(9, 106, 46);

}


/***********************BREADCRUMB START****************************/

.breadcrumb {
    font-size: 120%;
    margin-bottom: 30px;
}

.breadcrumb-item a {
    color: rgb(9, 106, 46);
}

.breadcrumb-item.active {
    color: #529b52;
}


/***********************PRODUCT LIST START****************************/
.card {
    background-color: #bde9ba;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.category_item h5 {
    color: rgb(9, 106, 46);
    font-weight: bold;
    font-size: 130%;
}


.carousel-inner img {
    height: 600px; /* set the height to your desired value */
    object-fit: cover; /* preserve aspect ratio and cover the container */
    margin-bottom: 30px;
}


.product-item .card-body {
    padding: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.4em;
    color: rgb(9, 106, 46);
}

.card-title:hover {
    color: rgb(12 158 68);
}

.product-item .card-text {
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
    margin-right: 30px;
    color: #888;
}

.selling-price {
    font-weight: bold;
    color: black;
}

.product-item .star-rating {
    color: #ffc107;
    margin-top: 10px;
}

.product-item .star-rating i {
    font-size: 20px;
    margin-right: 5px;
}

.star-rating {
    height: 20px;
    line-height: 20px;
}


/***********************PRODUCT START****************************/
.info_product_wrapper span.price_title {
    font-size: 20px;
    font-weight: bold;
}

.product_item_image {
    height: 200px; /* set the height to your desired value */

    object-fit: scale-down; /* preserve aspect ratio and cover the container */
}

span.badge {
    font-size: 100%;
    position: absolute;
    right: 30px;
    top: 10px;
}

.product_photo {
    position: relative;
}

.add_to_cart {
    margin-left: 15px;
    font-size: 120%;
    background-color: rgb(9, 106, 46);
}

.add_to_cart:hover {
    background-color: rgb(12 158 68);
}


.product-item .add_to_cart {
    width: 90%;
}


/***********************STARS START****************************/
i.fa-star, i.fa-star-half-alt {
    color: #f0e800;
}

.info_product_wrapper i.fa-basket-shopping {
    color: white;
}


/***********************FOOTER START****************************/
.footer{
    margin-top: 150px;
}
.bg-dark-green {
    background-color: #2e2e2e;
}

.text-white {
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #f2f2f2;
}

.card_receipt {
    background-color: #b2deaf;

    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    color: black;
}


/***********************PAYMENT START****************************/

.payment-btn {
    font-size: 200%;
    background-color: rgb(9, 106, 46);
    color:white;
}

.payment-btn:hover {
    background-color: rgb(12 158 68);
    color:white;
}

.payment-page {
	padding: 10px;
}

.payment-page h1 {
	margin-bottom: 50px;
	text-align: center;
}

.form-group{
    margin-bottom: 20px;
}
.form-group label {
	font-weight: bold;
}

.form-control {
	background-color: #fff;
	color: rgb(12 158 68);
}
.order_summary{
    height: 400px;
    overflow-y: scroll;
}
