{% extends "story/layouts/main.html" %}



{% block content %}


    <div class="container">
        <div class="row">
            {#        start breadcrumb#}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                </ol>
            </nav>
            {#            end breadcrumb#}
            <div class="col-md-12">
                <h1 class="text-center ">{{ category.name }}</h1>
                <hr>
                <div class="row">

                    {% include "story/inc/product_card.html" %}

                </div>
            </div>

        </div>
    </div>





{% endblock %}